# Ignore thư mục settings và Debug trong test
settings/
Debug/

# Ignore các file dự án của IAR Embedded Workbench
*.ewd
*.ewp
*.ewt
*.eww

# Ignore thư mục metadata trong test
.metadata/

# Ignore thư mục cấu hình của Visual Studio Code
.vscode/
