# Ignore thư mục settings và Debug trong test
application/settings/
application/Debug/

# Ignore các file dự án của IAR Embedded Workbench
*.ewd
*.ewp
*.ewt
*.eww

# Ignore thư mục metadata trong test
application/.metadata/

# Ignore thư mục cấu hình của Visual Studio Code
.vscode/
