# Ignore thư mục settings và Debug trong test
settings/
Debug/
# Bỏ qua tất cả các thư mục trong driver/inc
driver/inc/*/
driver/inc/DebugConfig/
driver/inc/RTE/
# Không bỏ qua các tệp trong driver/inc
!driver/inc/*.*
# Ignore các file dự án của IAR Embedded Workbench
*.ewd
*.ewp
*.ewt
*.eww
*.uvprojx
*.uvoptx
*.fpt
# Ignore thư mục metadata trong test
.metadata/

# Ignore thư mục cấu hình của Visual Studio Code
.vscode/
